################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mastermind-Game
/obj
/bin/Debug/net6.0
/.vs/ProjectEvaluation
/.vs/MastermindGame/v17
/.vs
/MastermindGame/obj
/MastermindGame.Tests/obj
/MastermindGame/bin/Debug/net6.0
/MastermindGame.Tests/bin/Debug/net6.0
/MastermindGame.Tests/bin/Release/net6.0
